.header__title {
    max-width: 730px;
    line-height: 96px;
    margin-left: 64px;
    font-size: 102px;
    z-index: 3;
    align-self: center;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 600;
}